:root {
  --green: rgb(39, 189, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  font-weight: 655;
}

button.form {
  border: 2px solid rgb(6, 6, 6);
  font-family: "Roboto", sans-serif;
}

button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-weight: 900;
  text-align: center;
  padding: 2rem 0;
}

img.logo {
  vertical-align: -42%;
  width: 7%;

}

img.header {
  width: 70%;
  padding-right: 3.5%;
  padding-top: 2%;

}

main {
  padding: 0 1rem;
}

.new-exercises-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(56, 55, 55, 0.5);
  border: 5px solid rgb(246, 243, 243);
}

.new-exercises-form form {
  display: flex;
  justify-content: center;
}

.new-exercises-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-exercises-form button {
  width: 150px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;

}

.card {
  margin: 1rem;
  border: 5px solid rgb(34, 34, 34);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 0%;
}

.card img {
  width: 100%;
  padding: 2%;
  border: 5px solid rgb(47, 46, 46);
  margin-bottom: 3%;

}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 798px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% +2rem);
  }
}

.wrapper {
  max-width: 800px;
  padding-bottom: 18px;
  align-items: flex-start;
  padding-right: 12%;
}

.search {
  border: thin solid rgb(45, 45, 46);
  border-radius: 4px;
  height: 32px;
  width: 122%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: white;
}

.search:hover,
.search:focus {
  border: 1.5px solid #b20404;
  background-color: white;
}

select {

  /* styling */
  background-color: white;
  border: thin solid rgb(45, 45, 46);
  border-radius: 4px;
  font: inherit;
  line-height: .9em;
  padding: 0.5em 3.5em 0.5em 1em;
  

  /* reset */

  margin-bottom: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(245, 243, 243) 50%),
    linear-gradient(135deg, rgb(249, 247, 247) 50%, transparent 50%),
    linear-gradient(to right, rgb(76, 74, 74), rgb(67, 66, 66));
  background-position:
    calc(100% - 20px) calc(1em),
    calc(100% - 15px) calc(1em),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

option {
  font-family: "Roboto", sans-serif;
}

.container{
  display: inline-block;
  vertical-align: middle;
}
.search-icon{
  position: absolute;
  top: 40.2%;
  right: 90%
}
.search{
  background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDU2Ljk2NiA1Ni45NjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDU2Ljk2NiA1Ni45NjY7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KPHBhdGggZD0iTTU1LjE0Niw1MS44ODdMNDEuNTg4LDM3Ljc4NmMzLjQ4Ni00LjE0NCw1LjM5Ni05LjM1OCw1LjM5Ni0xNC43ODZjMC0xMi42ODItMTAuMzE4LTIzLTIzLTIzcy0yMywxMC4zMTgtMjMsMjMgIHMxMC4zMTgsMjMsMjMsMjNjNC43NjEsMCw5LjI5OC0xLjQzNiwxMy4xNzctNC4xNjJsMTMuNjYxLDE0LjIwOGMwLjU3MSwwLjU5MywxLjMzOSwwLjkyLDIuMTYyLDAuOTIgIGMwLjc3OSwwLDEuNTE4LTAuMjk3LDIuMDc5LTAuODM3QzU2LjI1NSw1NC45ODIsNTYuMjkzLDUzLjA4LDU1LjE0Niw1MS44ODd6IE0yMy45ODQsNmM5LjM3NCwwLDE3LDcuNjI2LDE3LDE3cy03LjYyNiwxNy0xNywxNyAgcy0xNy03LjYyNi0xNy0xN1MxNC42MSw2LDIzLjk4NCw2eiIgZmlsbD0iIzAwMDAwMCIvPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K") left no-repeat;
  background-position: 7px 7px;
}
.cardbtn {
  background-color: white;
  border: thin solid rgb(98, 1, 1);
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  align-content: center;
  line-height: .9em;
  max-width: 27%;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 2%;
}
.cardbtn:hover{
  background-color: rgb(59, 58, 58);
}
button.emoji-button-favorite-active{
  background-color: black;
  color: #b20404;
  font-size: xx-large ;
  width: 35%;
}
button.emoji-button-favorite{
  background-color: black;
  color: white;
  width: 35%;
}
.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: 1130px;
  padding-bottom: 50px;  
}
.navigation {
  display: flex;
  list-style-type: none;
  
  
}
  .navli {
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding-right: 60px
    
    ;
  }

.logoWrapper {
  display: flex;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: white;
}
.nav:hover {
  color: #ea4f4c;
}